*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    padding-top: 70px;
}
nav{
    height: 70px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    position: fixed;
    top: 0;
    z-index: 50;
}

nav > a {
    color: #8a5029;
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
}

nav > div{
    display: flex;
    gap: 20px;
}

nav > div > a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

nav > div > a:hover{
    color: #58351D;
    font-weight: 700;
}

.hero{
    height: 100vh;
    background-image: url(img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    font-size: larger;
    
}

.hero > button{
    background-color: bisque;
    margin-top: 25%;
    border-radius: 20px;
    padding: 15px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.hero > button:hover{
    color: white;
    background-color: black;
    
}

.artists {
    background-color: aliceblue;
    padding: 60px;
}

.artists > h1 { 
    text-align: center;
    margin-bottom: 50px;
    color: #2c3e50;
    font-weight: 900;

}
.card-container{
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.card-container > .card{
    height: 500px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.card-container > .card > img{
    flex-grow: 1;
    height: 100%;
    display: block;
    border-radius: 15px;
    width: 300px;
    transform: rotateY(180deg);
}

.card-container > .card > div{
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 20px;
}
.card-container > .card > div > .badge {
    border-radius: 20px;
    background-color: lightblue;
    color: rgb(19, 50, 19);
    font-weight: 900;
    width: max-content;
    padding: 10px 15px;
}

.card-container > .card > div > h1{
    font-size: 40px;
    color: #2c3e50;
}

.card-container > .card > div > h2 {
    color: #8b4513;
}

.card-container > .card > div > p{
    color: #666;
    font-size: 24px;
    width: 700px;
}
.card-container > .card > div > button {
    padding: 10px 15px;
    font-size: larger;
    border-radius: 20px;
    background-color: #8b4513;
    color: white;
    width:max-content;
    border: none;
    cursor: pointer;
}

.card-container > .card > div > button:hover{
    color: aliceblue;
    background-color: rgb(2, 2, 28);
}
.gallery{
    background-color: white;
    padding: 50px 30px;
}

.gallery > h1{
    text-align: center;
    font-size: 40px;
    color:#2c3e50 ;
    font-weight: 900;
}
.gallery > .gallery-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.gallery > .gallery-container > a >.card {
    height: 400px;
    width: 300px;
    position:relative;
    overflow: hidden; 
    border-radius: 20px;
}

.gallery > .gallery-container > a >.card > img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 20px;
}

.gallery > .gallery-container > a> .card > .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
    border-radius: 20px;
}

.gallery-container > a > .card:hover > .overlay {
    opacity: 1;
} 
.gallery-container > a > .card:hover > img{
    transform: scale(1.1);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkblue;
    color: white;
    height: 100px;
    gap: 20px;
    flex-grow: 1;
    padding: 50px;
    width: 100%;
    
}

footer > .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

footer > .container > .footer-container{
    flex-grow: 1;
    text-align: center;
}

footer > .container > .footer-container > h3{
    text-align: center;
}

footer > .container > .footer-container > .social-icons > li{
    color: #fff;
}


